streamlit>=1.32.0
crewai>=0.22.6
crewai-tools>=0.1.15
streamlit-extras>=0.3.4
geopy>=2.4.1
requests>=2.31.0
python-dotenv>=1.0.1
streamlit-components>=0.1.0
warnings
langchain
pydantic
tenacity
serper
google-generativeai
tavily-python
openrouteservice


